/* ALL FOR THE NAV BAR */
.top-nav {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}
.top-nav__dd {
  flex: 0 1 20%;
  min-width: 130px;
}
.top-nav__dd-btn {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.top-nav__dd:hover, .top-nav__dd-btn:focus {
  outline: none;
  background-color: #5E2F2F;
}
.top-nav__dd:hover ul, .top-nav__dd-btn:focus ul, .top-nav__dd ul:hover, .top-nav__dd a:focus {
  display: block;
}
.top-nav__dd ul {
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #333333;
  z-index: 1;
}
.top-nav__dd li {
  width: 100%;
  padding: 10px;
  background-color: #CCCCCC;
}
.top-nav__dd li:hover, .top-nav__dd li a:focus {
  background-color: #AAA9A9;
}
.top-nav__dd a, .top-nav__dd a:visited, .top-nav__dd a:active {
  display: block;
  width: 100%;
  color: #000000;
  font-size: 14px;
}

/* ALL FOR THE TEST RESULT ASIDE */
aside {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}
